@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@keyframes fill {
  from {
    width: 4%;
  }
  to {
    width: 100%;
  }
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  min-height: 100vh;
  background: url(../images/bg-desktop.png), hsl(229deg, 57%, 11%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 43.75em) {
  body {
    background-image: url(../images/bg-mobile.png);
    background-position: center;
    background-size: cover;
  }
}

.container {
  flex: 0 1 40rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 2.4rem;
  margin-bottom: 4.6rem;
  position: relative;
}
.container > * {
  display: flex;
  flex-direction: column;
  background-color: hsl(228deg, 56%, 26%);
  box-shadow: 0 7.5rem 10rem -3rem hsla(0deg, 0%, 0%, 0.248);
  border-radius: 1rem;
}
@media only screen and (min-width: 43.75em) {
  .container {
    flex: 0 1 92rem;
    flex-direction: row;
    align-items: flex-end;
    gap: 3rem;
  }
}

.menu {
  border-top-right-radius: 10rem;
  padding: 4rem 4.1rem;
}
@media only screen and (min-width: 43.75em) {
  .menu {
    flex: 0 1 35rem;
  }
}
.menu__logo {
  margin-bottom: 3rem;
}
.menu__options {
  display: flex;
  gap: 1.6rem;
}
.menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 4.8rem;
  height: 4.8rem;
  background-color: hsl(229deg, 57%, 11%);
  border-radius: 1rem;
  transition: background-color 0.2s;
}
@media not all and (hover: none) {
  .menu__button:hover {
    cursor: pointer;
    background-color: hsl(229deg, 57%, 16%);
  }
}

.overview {
  padding: 3.2rem;
  padding-bottom: 5.2rem;
  margin-bottom: 3.6rem;
  color: hsl(243deg, 100%, 93%);
}
@media only screen and (min-width: 43.75em) {
  .overview {
    flex: 0 1 54rem;
    padding: 4rem;
    margin-bottom: 0;
  }
}
.overview__history {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 0.01rem;
  margin-bottom: 1.6rem;
}
@media only screen and (min-width: 43.75em) {
  .overview__history {
    text-align: start;
  }
}
.overview__history span {
  font-weight: 700;
}
.overview__storage {
  align-self: stretch;
}
.overview__bar {
  background-color: rgba(12, 18, 44, 0.5);
  border-radius: 1rem;
  height: 2rem;
  padding: 0.3rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 43.75em) {
  .overview__bar {
    margin-bottom: 0.8rem;
  }
}
.overview__bar-wrapper {
  width: 74.51%;
  height: 100%;
}
.overview__bar-fill {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  background-image: linear-gradient(to right, hsl(6deg, 100%, 80%), hsl(335deg, 100%, 65%));
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  animation: fill 0.65s ease-in-out;
  position: relative;
}
.overview__bar-fill::after {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-color: hsl(0deg, 0%, 100%);
  right: 0.2rem;
  border-radius: 50%;
}
.overview__labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.overview__tooltip {
  align-self: center;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0 7.5rem 10rem -3rem hsla(0deg, 0%, 0%, 0.248);
  border-radius: 1rem;
  padding: 1.6rem 2.4rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: rgba(12, 18, 44, 0.5);
  display: flex;
  align-items: center;
  gap: 0.9rem;
  position: absolute;
  bottom: 0;
}
@media only screen and (min-width: 43.75em) {
  .overview__tooltip {
    bottom: auto;
    top: 0;
    right: 4rem;
    border-bottom-right-radius: 0;
  }
  .overview__tooltip::after {
    content: "";
    position: absolute;
    bottom: 0.2rem;
    right: 0;
    width: 2.4rem;
    height: 2.4rem;
    background-color: hsl(0deg, 0%, 100%);
    transform: translateY(100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
  }
}
.overview__tooltip__text {
  margin-top: 0.5rem;
}
.overview__tooltip__number {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0.021rem;
  color: hsl(229deg, 57%, 11%);
}

/*# sourceMappingURL=style.css.map */
